.navbar-default {
    margin-bottom: 0px;
}

.logo_img {
    padding-top: 10px;
}

.navbar {

    position: relative;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 99px;
}

.navbar-header {
    min-height: 80px;
}

.navbar-header a {
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
    font-size: 16px;
    padding-top: 26px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #c49e60;
    transition: all 0.5s ease 0s;
}

.navbar-default {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    transition: all 0.5s ease 0s;
}

.navbar-collapse ul li {
    padding: 2px;
}

.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel {
    height: auto;
    opacity: .24;

}

.carousel-inner {
    height:auto;
    display: block;
    align-items: center;
    justify-content: center;

}

.carousel-caption {

    border: 1px solid hotpink;
    height: auto;
    margin-left:auto;
    margin-right:auto;

}

.block-carousel h1 {
    color: wheat;
    font-size: 40px;
}

.block-carousel span {
    font-size: 70px;
    color: #fff;
}

.block {
    border: 1px solid transparent;
    height: auto;
}

.block h1 {
    color: wheat;
    font-size: 40px;
}

.block span {
    font-size: 70px;
    color: #fff;
}

.parallax {
    height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.parallax-2 {
    background-image: url("../images/paralax-img.jpg");
    opacity: .53;
}

.parallax-3 {
    background-image: url("../images/paralax-img_02.jpg");
    opacity: .53;
}

.parallax-1 {
    background-image: url("../images/paralax-img_02.jpg");
    opacity: .53;
}

.story_section {
    background-color: white;
    padding: 100px 0px;
    text-align: center;
}

.story_block h1 {
    color: #c49e60;
}

.story_block span {
    color: black;
    font-size: 60px;
    font-weight: bold;
}

.thick_line {
    margin-bottom: 30px;
}

.thick_line hr {

    background: #c49e60;
    border: 0 none;
    display: inline-block;
    height: 1px;
    margin: 10px 13px;
    padding: 0;
    width: 135px;

}

.fa-glass {
    color: #c49e60;
}

.story_block p {
    text-align: center;
    padding: 2px;
    line-height: 2;
    font-weight: 500;
}

.story_block a {
    color: #c49e60;
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: bold;

}

.menu_section {
    background-color: white;
    padding: 100px 0px;
    text-align: center;
}

.menu_section a {
    color: #c49e60;
    text-decoration: underline;
    font-size: 17px;
}

.menu_sec_Sec h1 {
    color: #c49e60;
}

.menu_sec_sec span {
    color: black;
    font-size: 60px;
    font-weight: bold;
}

.menu_sec_sec p {
    text-align: center;
    padding: 2px;
    line-height: 2;
    font-weight: 500;
}

.thick_line2 {
    margin-bottom: 30px;
}

.thick_line2 hr {

    background: #c49e60;
    border: 0 none;
    display: inline-block;
    height: 1px;
    margin: 13px 13px;
    padding: 0;
    width: 135px;
    text-align: center;

}

.menu_ul_list {
    padding-left: 0px;
}

.menu_ul_list .image_list {
    display: inline-block;
    padding: 7px;
}

.chef_man_part {
    border: 1px solid transparent;
    background: #eeeeee none repeat scroll 0 0;
    min-height: 535px;

}

.chef_man_img {
    position: absolute;
    top: -94px;
}

.left {

}

.left h3 {
    font-size: 20px;
    font-weight: bold;
}
.left span{
    color:gray;
    font-weight:bold;
}
.div_sec{
    padding: 200px 0px;
    text-align: center;
}

.div_sec .col-md-3{
    padding: 5px;
}
.right p {
    color: gray;
    font-weight: bold;
}
.pictures{
    width:auto;
}
.doc {
    padding-bottom: 112px;
    background-color:darkslategray;
    margin-top:-19px;

}

.doc h3,a{
    color:#c49e60;
}
.doc p{
    color: grey;
}

.div_sec .col-md-3:hover, .div_sec .col-md-3:focus{
    background-color:#c49e60 ;
    opacity:1;
    color:white;
}
.picture img:hover{
    background-color:#c49e60;
    opacity: .8;
    color: white;
}
.div_sec a{
    color:#c49e60;
    text-decoration: underline;
    font-weight:bold;
    margin-top:10px;
}
.view_full{
    text-align: center;
}
.subscribe_section{
    background-color: #c49e60;

}
.bun_img{
    position: relative;
    top: -144px;
}
.registration-part{
    border:1px solid transparent;
    padding: 65px 0px;

}
.registration-part input{
    width: 289px;
    height:46px;
    background-color:  #dfcaa8;
    border:none;
    border-radius: 4px;
}

label{
    font-size:20px;
    color: white;
}
.subscribe_btn{
    border:none;
    color:  #dfcaa8 ;
    text-decoration: none;
}
.working_hours{
    border:1px solid transparent;
    padding:100px 0px;
}
.working_hours h4{
    color: white;
}
.working_hours p,span{
    color: darkgray;
}
.working_hours hr{
    width: 150px;
    background: #c49e60 none repeat scroll 0 0;
    border: 0 none;
    display: inline-block;
    height: 1px;
    margin: 10px 0;
    padding: 0;
}
.three_items p {
    display: inline-block;
    padding: 10px;

  }
footer{
    background-color: #1c1a1d;
    color: gray;
    text-align: center;
}
.social_block{
    text-align: center;
    padding: 70px 0px;

}
.social_block ul li{
    display: inline-table;
    border:1px solid transparent;
    width: 50px;
    height:50px;
    border-radius: 50px;
    padding: 0px 5px;


}
.social_block ul{
    padding-left:0px;
}
.social_block ul li a{
    background: #333134 none repeat scroll 0 0;
    border-radius: 50%;
    color: #1c1a1d;
    display: block;
    font-size: 24px;
    height: 50px;
    margin: 0;
    padding: 12px 0 0;
    text-align: center;
    text-decoration: none;
    width: 50px;
    

}
.social_block ul li a:hover{
    background-color:gainsboro;
}
.copy-right{
    margin-bottom:40px;
}